.grade-Circle-Background {
  position: absolute;
  width: 190px;
  height: 250px;
  background-color: #ffffff;
}

.dashboard-105 .hero-Title-Text {
  position: absolute;
  margin-left: 70px;
  margin-top: 12px;
}

.dashboard-105 .content-Subtitle-Text {
  position: absolute;
  margin-left: 42px;
  margin-top: 33px;
  width: 120px;
  text-align: center;
}

.dashboard-105 .dashboard-Grade-Text {
  position: absolute;
  margin-left: 28px;
  margin-top: 35px;
  width: 80px;
  text-align: center;
}

.dashboard-105 .academic-Grade-Percentage-Text {
  position: absolute;
  margin-left: 27px;
  margin-top: 66px;
}

.dashboard-105 .academic-Circle-Grey {
  position: absolute;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  border: 8px solid #d8d8d8;
  margin-top: 86px;
  margin-left: 20px;
}

.dashboard-110 {
  margin-left: 200px;
}

.dashboard-110 .hero-Title-Text {
  position: absolute;
  margin-left: 70px;
  margin-top: 12px;
}

.dashboard-110 .content-Subtitle-Text {
  position: absolute;
  margin-left: 38px;
  margin-top: 33px;
  width: 120px;
  text-align: center;
}

.dashboard-110 .dashboard-Grade-Text {
  position: absolute;
  margin-left: 28px;
  margin-top: 35px;
  width: 80px;
  text-align: center;
}

.dashboard-110 .academic-Grade-Percentage-Text {
  position: absolute;
  margin-left: 27px;
  margin-top: 66px;
}

.dashboard-110 .academic-Circle-Grey {
  position: absolute;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  border: 8px solid #d8d8d8;
  margin-top: 86px;
  margin-left: 20px;
}


.dashboard-115 {
  margin-top: 260px;
}

.dashboard-115 .hero-Title-Text {
  position: absolute;
  margin-left: 70px;
  margin-top: 12px;
}

.dashboard-115 .content-Subtitle-Text {
  position: absolute;
  margin-left: 24px;
  margin-top: 33px;
  width: 150px;
  text-align: center;
}

.dashboard-115 .dashboard-Grade-Text {
  position: absolute;
  margin-left: 28px;
  margin-top: 35px;
  width: 80px;
  text-align: center;
}

.dashboard-115 .academic-Grade-Percentage-Text {
  position: absolute;
  margin-left: 27px;
  margin-top: 66px;
}

.dashboard-115 .academic-Circle-Grey {
  position: absolute;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  border: 8px solid #d8d8d8;
  margin-top: 96px;
  margin-left: 20px;
}


.dashboard-120 {
  margin-top: 260px;
  margin-left: 200px;
}

.dashboard-120 .hero-Title-Text {
  position: absolute;
  margin-left: 70px;
  margin-top: 12px;
}

.dashboard-120 .content-Subtitle-Text {
  position: absolute;
  margin-left: 24px;
  margin-top: 33px;
  width: 150px;
  text-align: center;
}

.dashboard-120 .dashboard-Grade-Text {
  position: absolute;
  margin-left: 28px;
  margin-top: 35px;
  width: 80px;
  text-align: center;
}

.dashboard-120 .academic-Grade-Percentage-Text {
  position: absolute;
  margin-left: 27px;
  margin-top: 66px;
}

.dashboard-120 .academic-Circle-Grey {
  position: absolute;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  border: 8px solid #d8d8d8;
  margin-top: 86px;
  margin-left: 20px;
}


.dashboard-137K {
  margin-top: 520px;
}

.dashboard-137K .hero-Title-Text {
  position: absolute;
  margin-left: 70px;
  margin-top: 12px;
}

.dashboard-137K .content-Subtitle-Text {
  position: absolute;
  margin-left: 24px;
  margin-top: 33px;
  width: 150px;
  text-align: center;
}

.dashboard-137K .dashboard-Grade-Text {
  position: absolute;
  margin-left: 28px;
  margin-top: 35px;
  width: 80px;
  text-align: center;
}

.dashboard-137K .academic-Grade-Percentage-Text {
  position: absolute;
  margin-left: 27px;
  margin-top: 66px;
}

.dashboard-137K .academic-Circle-Grey {
  position: absolute;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  border: 8px solid #d8d8d8;
  margin-top: 86px;
  margin-left: 20px;
}


.dashboard-106J {
  margin-top: 520px;
  margin-left: 200px;
}

.dashboard-106J .hero-Title-Text {
  position: absolute;
  margin-left: 70px;
  margin-top: 12px;
}

.dashboard-106J .content-Subtitle-Text {
  position: absolute;
  margin-left: 24px;
  margin-top: 33px;
  width: 150px;
  text-align: center;
}

.dashboard-106J .dashboard-Grade-Text {
  position: absolute;
  margin-left: 28px;
  margin-top: 35px;
  width: 80px;
  text-align: center;
}

.dashboard-106J .academic-Grade-Percentage-Text {
  position: absolute;
  margin-left: 27px;
  margin-top: 66px;
}

.dashboard-106J .academic-Circle-Grey {
  position: absolute;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  border: 8px solid #d8d8d8;
  margin-top: 86px;
  margin-left: 20px;
}


.dashboard-Right-Content {
  position: absolute;
  margin-left: 410px;
  margin-top: -37px;
}

.dashboard-Right-Content .hero-Title-Text {
  white-space: pre-wrap;
  padding-top: 20px;
  margin-bottom: -13px;
}

.dashboard-Right-Content .calendar {
  padding-top: 10px;
}
