.pop-Up-Email{
  background-color: #f7f7f7;
  width: 490px;
  height: 320px;
  float: right;
  margin-right: 100px;
  padding-left: 43px;
  padding-top: 55px;
  line-height: 25px;
}

.setting-Submit{

}

.email-Box{
  background-color: #f7f7f7;
  width: 350px;
  height: 48px;
  border: solid 1px #3bb9ba;
  margin-top: 22px;
}

.verify-Email{
  padding-top: 20px;
}

.pop-Up-Email-Error{
  background-color: #f7f7f7;
  width: 490px;
  height: 320px;
  float: right;
  margin-right: 400px;
  padding-left: 43px;
  padding-top: 55px;
  line-height: 25px;
}

.email-Fail{
  border: solid 1px #d0021b;
}

.error-Text{
  color: #d0021b;
  padding-left: 205px;
  margin-top: 0px;
}
