.aside{
  position: left;
  height:676px;
  width:176px;
  background-color: #1b3c50;
  margin: 21px 0;
  padding-right: 15px;
  padding-top: 44px;
}

.profile-Name{
  font-family: "Montserrat-Regular", sans-serif;
  text-align: center;
  color: #f7f7f7;
  font-size: 15px;
}

.aside-Options{
  text-align: center;
  color: #f7f7f7;
  font-size: 13px;
  font-family: "Montserrat-Regular", sans-serif;
}

.aside-Titles{
  text-align: left;
  color: #f7f7f7;
  font-size: 11px;
  font-family: "Montserrat-Bold", sans-serif;
}

.picture{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: solid 2px #50e3c2;
  border-radius: 50px;
  margin-left: 45px;
}

.aside-List{
padding-top: 66px;
}
