.aside{
  position: left;
  height:676px;
  width:176px;
  background-color: #1b3c50;
  margin: 21px 0;
  padding-right: 15px;
  padding-top: 44px;
}

.profile-Name{
  font-family: "Montserrat:400", sans-serif;
  text-align: center;
  color: #f7f7f7;
  font-size: 15px;
  padding: 10px;
  margin-left: 20px;
  letter-spacing: .5px;
}

.aside-Options{
  color: #f7f7f7;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  text-align: left;
  margin-left: 15px;
}

.aside-Titles{
  text-align: left;
  color: #f7f7f7;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: .5px;
}

.aside li a:link{
  color: #f7f7f7;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
}

.aside li a:visited{
  color: #f7f7f7;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
}

.aside li a:hover{
  color: #f7f7f7;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  display: block;
  background: #0b2535;
}

.aside li:hover{
  left: 100%;
  width: 100%;
}

.picture{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: solid 2px #50e3c2;
  border-radius: 50px;
  margin-left: 45px;
}

.aside-List {
position: absolute;
padding-top: 10px;
line-height: 30px;
padding-left: 20px;
}
