.aside{
  position: left;
  height:30em;
  width:11em;
  background-color: #1b3c50;
  margin: 1.333em;
}

.profile-Name{
  font-family: "Montserrat-Regular", sans-serif;
  text-align: center;
  color: #f7f7f7;
  font-size: 15px;
}

.aside-Options{
  text-align: center;
  color: #f7f7f7;
  font-size: 13px;
  font-family: "Montserrat-Regular", sans-serif;
}

.aside-Titles{
  text-align: left;
  color: #f7f7f7;
  font-size: 11px;
  font-family: "Montserrat-Bold", sans-serif;
}

.circle{
	width: 100px;
	height: 100px;
	background: #50e3c2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  margin-left: 35px;
}
