//This sets the background color and gives it a min and max size.
body{
background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
background-repeat: no-repeat;
min-width: 960px;
max-width: 1600px;
height: 745px;
}

//These three give each section the over lapping background color.
.desktop-background {
  background-color: #f7f7f7;
  width: 950px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.hero-Content{
  position: absolute;
  margin-left: 250px;
  margin-top: 60px;
  background-color: #f7f7f7;
  padding-top: 0px;
}

//These two give each text spacing between them.
//These three are moved around to make them align.
.current-Semester{
  padding-top: 30px;
  position: absolute;
}

.enrolled-Credit-Hours{
  padding-left: 250px;
  padding-top: 30px;
}

.academic-Standing{
padding-left: 500px;
margin-top: -42px;
}

//Moves the page break.
.second-Break{
margin-top: 20px;
}


.grades-Circle{
  margin: 11px;
  width: 152px;
  height: 152px;
}

//Moved the upcoming dates into the correct position.
.upcoming-Due-Dates{
  padding-left:400px;
  margin-top: -132px;
  width: 300px;
}

//This is the thrid page break
.third-Break{
position: absolute;
width: 674px;
height: 2px;
background-color: #6291a9;
margin-top: 20px;
}

.content-Paragraph-Text{
width: 355px;
}

.upcoming-Events{
  position: absolute;
  margin-left: 400px;
  width: 300px;
  margin-top: 20px;
}

.college-Announcements{
  position: absolute;
  margin-top: 20px;
}

.college-Announcements h1{
  margin-top: 20px;
}

.scrolling-Content p{
  padding-top: 10px;
  line-height: 20px;
}

.scrolling-Content h1{
  width: 350px;
}

.scrolling-Content .program {
  margin-bottom: 20px;
}

.scrolling-Content h4{
 margin-top: 20px;
}

.upcoming-Events h1{
  margin-bottom: 20px;
}

.Upcoming-Due-Dates h1{
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;
}
