.right-Content {
position: absolute;
margin-left: 470px;
margin-top: -1170px;
}

.grades-Background .grades-Complete-Text {
  position: absolute;
  margin-left: 55px;
  margin-top: 72px;
}

.grades-Background .complete-Class {
  position: absolute;
  text-align: center;
  margin-left: 55px;
  margin-top: 82px;
}
