//Moved date and logout to the right
header{
  position: absolute;
  margin-left: 250px;
}


//Page Breaks
.page-Breaks{
  background-color: #6291a9;
  height: 2px;
  width: 674px;
}

.date-Log-Out{
  float: right;
  line-height: 15px;
  padding-bottom: 10px;
}

.top-Break{
 margin-top: 40px;
}

.header-Title-Text{
margin-top: 10px;
}
