//Moved date and logout to the right
header{
  position: absolute;
  margin-left: 250px;
}


//Page Breaks
.page-Breaks{
  background-color: #6291a9;
  height: 2px;
  width: 674px;
}

.top-Break{
 margin-top: 45px;
}

.body-Header h4 {
  position: absolute;
  margin-top: 30px;
}

.date-Log-Out {
  position: absolute;
  margin-top: 10px;
  margin-left: 525px;
  text-align: right;
}

.date-Log-Out li {
 line-height: 15px;
 white-space: nowrap;
 }

 .date-Log-Out li a:link {
   font-family: "Montserrat", sans-serif;
   font-size: 10px;
   font-weight: 400;
   color: #52a5af;
   padding-left: 10px;
   padding-right: 10px;
 }

 .date-Log-Out li a:visited {
   font-family: "Montserrat", sans-serif;
   font-size: 10px;
   font-weight: 400;
   color: #52a5af;
 }

 .date-Log-Out li a:hover {
   font-family: "Montserrat", sans-serif;
   font-size: 10px;
   font-weight: 700;
   color: #52a5af;
 }
