//This sets the background color and gives it a min and max size.
body{
background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
background-repeat: no-repeat;
min-width: 960px;
max-width: 1600px;
height: 745px;
}

.desktop-background {
  background-color: #f7f7f7;
  width: 950px;
  height: 720px;
}

.login-Portal{
  width: 600px;
  height: 370px;
  padding-top: 165px;
}

.school-Name , .student-Portal , .email-Entry , .password-Entry{
  text-align: center;
}
