//This sets the background color and gives it a min and max size.
body{
background-image: linear-gradient(126deg, #2fcfba, #47a1ba);
background-repeat: no-repeat;
min-width: 960px;
max-width: 1600px;
height: 745px;
}

.desktop-background {
  background-color: #f7f7f7;
  width: 950px;
  height: 720px;
}

.login-Portal{
  width: 600px;
  height: 370px;
  padding-top: 165px;
  background-color: #ffffff;
  position: absolute;
  margin-top: -650px;
  margin-left: 120px;
  letter-spacing: 0.2px;
}

.school-Name , .student-Portal , .email-Entry , .password-Entry{
  text-align: center;
}


.submit-Button{
  position: absolute;
  margin-left: 159px;
}
.white-Twelve{
  text-align: center;
  padding-top: 14px;
}
.forgot-Password{
  text-align: center;
  position: absolute;
  margin-top: 30px;
  margin-left: 308px;
}
.email-Entry{
  padding-bottom: 9px;
}
.login-Info{
  color: #3bb9ba;
  border: 2px solid #3bb9ba;
  outline: none;
  padding-top: 25px;
  padding-left: 92px;
  padding-right: 92px;
}
