.pop-Up-2c{
  background-color: #ffffff;
  width: 444px;
  height: 345px;
  float: right;
  margin-right: 700px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.submit-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  text-align: center;
  margin-top: 20px;
}

.text-Box{
  background-color: #ffffff;
  width: 405px;
  height: 166px;
  margin-top: 10px;
}

.pop-Up-2b{
  background-color: #ffffff;
  width: 444px;
  height: 257px;
  float: right;
  margin-right: 200px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.okay-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  text-align: center;
  margin-top: 65px;
}

.pop-Up-2d{
  background-color: #ffffff;
  width: 444px;
  height: 223px;
  float: right;
  margin-right: 100px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.thanks-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  text-align: center;
  margin-top: 65px;
}

.pop-Up-2a{
  background-color: #ffffff;
  width: 444px;
  height: 223px;
  float: right;
  margin-right: 400px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.dropdown-Menu-Class-Selection{
  width: 272px;
  height: 29px;
}

.pop-Up-1{
  background-color: #ffffff;
  width: 444px;
  height: 223px;
  float: right;
  margin-right: 100px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.next-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  text-align: center;
  margin-top: 65px;
}

.no-Classes-Registered{
  background-color: #ffffff;
  width: 496px;
  height: 155px;
  padding-top: 59px;
  padding-left: 180px;
  margin-left: 230px;
  margin-top: -500px;
}

.spring-Registration{
  padding-left: 50px;
}

.start-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 32px;
  text-align: center;
  margin-top: 25px;
  margin-left: 100px;
  padding-top: 10px;
}

.upc-Schedule-Geneds{
  background-color: #ffffff;
  width: 672px;
  height: 393px;
  padding-top: 24px;
  margin-left: 250px;
  margin-top: -450px;
}

.registration-Completion{
  padding-left: 20px;
}

.percent-Sixty{
  padding-left: 600px;
}

.completion-Bar{
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #50E3C2), color-stop(100, #359CA1));
  width: 642px;
  height: 5px;
  margin-left: 15px;
}

.gen-Eds{
  padding-left: 20px;
  padding-top: 20px;
}

.gen-Eds-Selection{
  padding-left: 40px;
  padding-top: 15px;
  line-height: 40px;
}

.line-Space{
  background-color: #359ca1;
  width: 575px;
  height: 1px;
}

.computer-Information-Systems{
  background-color: #ffffff;
  width: 676px;
  height: 393px;
  padding-top: 24px;
  margin-left: 250px;
  margin-top: -450px;
}

.english{
  background-color: #ffffff;
  width: 676px;
  height: 417px;
  margin-left: 250px;
  margin-top: -450px;
}

.core-Course{
  background-color: #ffffff;
  width: 676px;
  height: 331px;
  margin-left: 250px;
  margin-top: -430px;
}
