.pop-Up-2c{
  background-color: #f7f7f7;
  width: 444px;
  height: 345px;
  float: right;
  margin-right: 700px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.submit-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  text-align: center;
  margin-top: 20px;
}

.text-Box{
  background-color: #ffffff;
  width: 405px;
  height: 166px;
  margin-top: 10px;
}

.pop-Up-2b{
  background-color: #f7f7f7;
  width: 444px;
  height: 257px;
  float: right;
  margin-right: 200px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.okay-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  text-align: center;
  margin-top: 65px;
}

.pop-Up-2d{
  background-color: #f7f7f7;
  width: 444px;
  height: 223px;
  float: right;
  margin-right: 100px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.thanks-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  text-align: center;
  margin-top: 65px;
}

.pop-Up-2a{
  background-color: #f7f7f7;
  width: 444px;
  height: 223px;
  float: right;
  margin-right: 400px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.dropdown-Menu-Class-Selection{
  width: 272px;
  height: 29px;
}

.pop-Up-1{
  background-color: #f7f7f7;
  width: 444px;
  height: 223px;
  float: right;
  margin-right: 100px;
  padding-left: 36px;
  padding-top: 30px;
  line-height: 25px;
}

.next-Button{
  background-color: #3bb9ba;
  width: 114px;
  height: 42px;
  text-align: center;
  margin-top: 65px;
}
